#fieldlist {
  @extend .column;
  list-style: none;
  margin: 0;
}

.field.row {
  margin-bottom: 1.5em;
}

.fieldcontentarea {
  align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  > div {
    // try to be as wide as possible
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}

.fieldtypelabel,
.fieldcontentarea input,
.fieldcontentarea select {
  @extend .paragraph;

  height: inherit;
  line-height: 22px;
  margin: 0;
  max-width: 100% !important;
  padding: 13px 16px;
  width: 100%;
}

.fieldcontentarea select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url($theme-image-path + "/select-arrow-down-gray.png") no-repeat right center $clr-media-grey-500;
  width: 100%;
}

.fieldcontentarea input,
.fieldcontentarea select {
  background-color: $white;
  border: 1px solid $kontur-gray;
  box-shadow: 1px 1px 1px $kontur-gray;
}

.remove-field {
  background: none;
  border: 0;
  box-sizing: content-box;
  line-height: 50px;
  margin: 0 0 0 16px;
  padding: 0;
  width: 50px;

  &::before {
    content: "U";
    speak: none;
    font-family: "govdata";
    font-size: 16px;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $clr-media-grey-500;
    color: $white;
  }
}

.searchext-modbuttons-container {
  .searchext-modbutton {
    button {
      width: 100%;
    }
  }

  .searchext-modbutton:not(:last-of-type) {
    margin-bottom: rem-calc(2);
  }

  @include media-breakpoint-up(sm) {
    display: flex;

    .searchext-modbutton:first-of-type {
      margin-right: rem-calc(10);
    }
    .searchext-modbutton:last-of-type {
      margin-left: auto;
    }
  }
}

.multiboxarea .checkboxitem label {
  display: block;
  margin: 0;
}

.multiboxarea {
  padding: 1em 0;

  .checkboxitem {
    span {
      cursor: pointer;
    }
  }

  label {
    padding: 0.3em;
  }

  label::before {
    background-color: $white;
    border: 1px solid $checkbox-border;
    border-radius: 3px;
    box-shadow: 0 1px 1px $kontur-gray;
    content: " ";
    speak: none;
    display: inline-block;
    font-family: "govdata";
    font-size: 1em;
    height: 20px;
    line-height: 18px;
    margin-right: 0.5em;
    min-height: 20px;
    min-width: 20px;
    padding-left: 0.2em;
    vertical-align: top;
    width: 20px;
  }

  input[type="checkbox"] {
    // special case when we actually use checkboxes as checkboxes
    &:checked ~ label::before {
      background-color: $clr-media-grey-500;
      border-color: $clr-media-grey-500;
      box-shadow: none;
      color: $white;
      content: "a";
      speak: none;
    }

    &:focus,
    &:hover,
    &:active {
      & ~ label {
        background-color: $clr-media-grey-500;
        color: $white;
      }

      & ~ label::before {
        box-shadow: none;
      }
    }
  }
}

// field specific designs
.field-groups,
.field-showcase_types,
.field-platforms {
  @media #{$large-up} {
    .checkboxitem {
      display: inline-block;
      width: (99% / 2);
    }
  }
}

.field-format {
  .checkboxitem {
    display: inline-block;
    width: (99% / 2);
  }

  @media #{$medium-only} {
    .checkboxitem {
      width: (99% / 4);
    }
  }

  @media #{$large-up} {
    .checkboxitem {
      width: (99% / 6);
    }
  }
}

.field-temporal_coverage {
  .date-container input {
    width: 100%;
    padding: 13px 30px 13px 50px;
  }

  .flex-container {
    justify-content: space-between;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  .date-container {
    position: relative;
    width: 45%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .date-from-container {
    @include media-breakpoint-down(md) {
      margin-bottom: 1em;
    }
  }

  .date-until-container {
    @include media-breakpoint-down(md) {
      margin-left: auto;
    }
  }

  .date-label {
    color: $clr-media-grey-500;
    left: 0;
    line-height: 22px;
    padding: 14px 0 0 14px;
    position: absolute;
    top: 0;
  }
}
