@use "sass:map";

.gd-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.gd-table {
  @extend .paragraph;
  @extend .bold;
  border-collapse: collapse;
  width: 100%;

  &.gd-table-accordion {
    tbody tr td:first-child {
      padding-left: 32px;
      position: relative;
    }

    tbody tr:nth-child(odd) td:first-child {
      padding: 0;

      & > button,
      a {
        @extend .button-reset;
        @extend .link-reset;

        word-break: break-word;
        padding: 24px 32px 32px 0;
      }
    }

    tbody tr:has(+ .d-none) {
      border-bottom: 1px solid $clr-neutral-grey-300;
    }

    tbody tr[id] {
      border-bottom: 1px solid $clr-neutral-grey-300;
    }
  }

  .gd-table-head {
    th {
      background: #f5f5f5;
      padding: map.get($spacers, 1);

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
      }

      button {
        @extend .button-reset;
      }

      &:has(.gd-table-sort-button) {
        padding: 0;
      }

      .gd-table-sort-button {
        width: 100%;
        text-align: left;
        padding: map.get($spacers, 1);
        text-decoration: underline;

        &:hover {
          background-color: $clr-neutral-grey-200;
        }
        &::after {
          font-family: "Font Awesome 6 Free";

          display: inline-block;
          margin-left: rem-calc(8);
          font-size: rem-calc(14);
          text-decoration: none;
          // hiding it here but calculating it with button width
          // so complete table wont jump when button appears
          visibility: hidden;
          content: "\f0d8";
        }
        &.ascending::after {
          visibility: visible;
          content: "\f0d8";
        }
        &.descending::after {
          visibility: visible;
          content: "\f0d7";
        }
      }
    }
  }
  &.gd-table-with-divider {
    tbody tr {
      border-bottom: 1px solid $clr-neutral-grey-300;
    }
  }

  tbody {
    td {
      padding: $spacer;
      &:first-child {
        width: 100%;
      }
    }

    // how to better adjust withs of certain rows ????
    &.td-width-50-15-15 {
      td:nth-of-type(1) {
        width: 50%;
      }
      td:nth-of-type(2),
      td:nth-of-type(3) {
        width: 15%;
      }
    }
  }
}
