.info-box {
  background-color: $clr-primary-100;
  border: 1px solid $clr-primary-500;
  border-radius: $spacer * 0.5;
  padding: map-get($spacers, 2);
  color: $clr-neutral-grey-800;

  .info-box-message {
    @extend .bold;
    color: $clr-primary-500;
  }
}

.info-box.info-box-success {
  background-color: $clr-success-green-200;
  border-color: $clr-success-green-500;

  .info-box-message {
    color: $clr-success-green-500;
  }
}

.info-box.info-box-error {
  background-color: $clr-error-red-200;
  border-color: $clr-error-red-500;

  .info-box-message {
    color: $clr-error-red-500;
  }
  // anchors inside error will get another color due to contrast issues.
  a {
    color: $clr-neutral-grey-800;
  }
}
