.success-box {
  background-color: $clr-success-green-200;
  border: 1px solid $clr-success-green-500;
  border-radius: $spacer * 0.5;
  padding: $spacer * 2;

  .success-box-message {
    @extend .bold;
    color: $clr-success-green-500;
  }
}

.info-box {
  background-color: $clr-primary-100;
  border: 1px solid $clr-primary-500;
  border-radius: $spacer * 0.5;
  padding: map-get($spacers, "1_5") map-get($spacers, 2);
  color: $clr-primary-500;
}