.gd-teaser-box {
  padding: map-get($spacers, 1) map-get($spacers, 2);

  height: 68px;
  width: 100%;

  @include media-breakpoint-up(sm) {
    height: 112px;
    width: 210px;
  }

  * {
    margin: 0;
  }

  &:hover {
    text-decoration: none;
  }

  &-dark {
    background: $clr-media-grey-500;
    color: white;

    &:hover {
      background: $clr-neutral-grey-900;
    }
  }

  &-bright {
    height: 112px;
    background: white;
    color: $clr-neutral-grey-800;
    border: 1px solid $clr-neutral-grey-300;

    &:hover {
      background: $clr-neutral-grey-50;
    }
  }
}

.gd-teaser-box-numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;

  .gd-icon {
    margin-right: map-get($spacers, 1);
  }

  @include media-breakpoint-up(sm) {
    gap: 0;
    align-items: normal;
    flex-direction: column;
  }

  .gd-teaser-box-numbers-heading {
    font-size: 36px;
    line-height: 36px;
    margin-right: map-get($spacers, 2);
    @include media-breakpoint-up(sm) {
      margin-right: 0;
    }
  }
}

.gd-teaser-box-social {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .crop {
    display: -webkit-box;
    /* max-width: 330px; */
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.gd-teaser-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: rem-calc(10);

  @include media-breakpoint-up(sm) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
