.location-search-map {
  background-color: $kontur-gray;
  height: 400px;
  max-height: 60vh; // maximum 60% of viewport height
  position: relative;
  width: 100%;

  @include media-breakpoint-up(md) {
    height: 600px;
  }

  & .center-selection-control {
    left: 0.5rem;
    top: 5rem;
  }

  & .ol-control button {
    @include outline-base();
    color: white;
    background-color: rgba($clr-media-grey-500, 0.7);

    &:focus {
      color: white;
    }

    &:hover {
      color: white;
      background-color: $clr-media-grey-500;
    }
  }
}

.map-search-button-container {
  bottom: rem-calc(5px);
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;

  .button-search {
    white-space: nowrap;
  }
}

.ol-attribution.ol-uncollapsible {
  height: auto;
  top: 0;
  bottom: auto;
  border-top-left-radius: 0;
  display: block;
  height: fit-content;
}

.ol-attribution {
  & * {
    font-size: inherit;
    line-height: inherit;
    font: inherit;
    font-weight: inherit;
  }
}
