@use "sass:map";

$rem-base: 16px;

@mixin heading($fnt-size, $fnt-size-mobile, $line-height) {
  @extend .font-bold;

  font-size: $fnt-size-mobile;
  line-height: $line-height;

  @include media-breakpoint-up(md) {
    font-size: $fnt-size;
  }

  & > a {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }
}

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map.get($breakpoints, $name);
  @if $min != 0 {
    @return $min;
  }
  @return null;
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @if breakpoint-min($name, $breakpoints) == null {
    @return "";
  }
  @return "-#{$name}";
}

$focus-common-outline: 3px solid $focus-outline-color;
$focus-common-outline-offset: 2px;
$focus-common-box-shadow: none;
$focus-common-z-index: 100;

.focus-outline-common {
  outline: $focus-common-outline;
  outline-offset: $focus-common-outline-offset;
  box-shadow: $focus-common-box-shadow;
  z-index: $focus-common-z-index;
}

/* Base outline for :focus-visible */
@mixin outline-base() {
  &:focus-visible {
    outline: $focus-common-outline;
    outline-offset: $focus-common-outline-offset;
    box-shadow: $focus-common-box-shadow;
    z-index: $focus-common-z-index;
  }
}

/**
 * Extended outline for setting focus programmatically.
 * prefer outline-base when in doubt.
 **/
@mixin outline-extended() {
  &:focus,
  &:focus-visible {
    outline: $focus-common-outline;
    outline-offset: $focus-common-outline-offset;
    box-shadow: $focus-common-box-shadow;
    z-index: $focus-common-z-index;
  }
}

@mixin transparent-border() {
  border: 1px solid transparent;
  border-radius: 5px;
}

@mixin respond-to($types...) {
  $maxWidth: -1;
  $minWidth: -1;

  @each $type in $types {
    @if $type == phone {
      @if $maxWidth == -1 {
        $maxWidth: $breakpoint_phone - 1;
      }
      $minWidth: 0;
    } @else if $type == tablet {
      @if $maxWidth != 0 {
        @if $maxWidth == -1 {
          $maxWidth: $breakpoint_tablet - 1;
        } @else {
          $maxWidth: max($breakpoint_tablet - 1, $maxWidth);
        }
      }

      @if $minWidth == -1 {
        $minWidth: $breakpoint_phone;
      } @else {
        $minWidth: min($breakpoint_phone, $minWidth);
      }
    } @else if $type == desktop {
      $maxWidth: 0;
      @if $minWidth == -1 {
        $minWidth: $breakpoint_tablet;
      }
    }
  }

  @if $maxWidth <= 0 and $minWidth <= 0 {
    @content;
  } @else if $maxWidth <= 0 {
    @media (min-width: $minWidth) {
      @content;
    }
  } @else if $minWidth <= 0 {
    @media (max-width: $maxWidth) {
      @content;
    }
  } @else {
    @media (min-width: $minWidth) and (max-width: $maxWidth) {
      @content;
    }
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
